input{
  display: block;
  height: 40px;
  width: 300px;
  margin: 13px;
  border-radius: 30px;
  border: 2px solid white;
  font-size: 20px;
  padding-left: 5px;
  background-color: rgba(255, 255, 255, 0.01);
  color: white;
  outline: none;
}
input[type= submit]{
  background-color: aqua;
  
  border: none;
  cursor: pointer;}


body{
  background-image: url(../img/coronavirus.jpg);
  background-color: #012535;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  }



#corpoform{
  width: 300px;
  margin: 150px auto 0 auto;
}

#corpoformcad{
  width: 300px;
  margin: 100px auto 0 auto;}

div#corpoform h1, div#corpoformcad h1{
  text-align: center;
  padding: 20px;
  color: white;
}

a{
  color: white;
  text-decoration: none;
  display: block;
}
a:hover{
  text-decoration: underline;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color:white;
}

#msg-sucesso{
  width: 400px;
  padding: 10px;
  margin: 10px auto;
  background-color: rgba(50, 205, 114, .3);
  border: 1px solid rgb(34,139,34);
}

.msg-erro{
  width: 400px;
  padding: 10px;
  margin: 10px auto;
  background-color: rgba(250, 128, 114, .3);
  border: 1px solid rgb(165,42,42);
}

table{
  background-color:  rgba(0,0,0,.2);
  width:90%;
  margin: 30px auto;
}

#Tabela-dados{
  width: 700px;
  height: 250px;
  margin: 30px auto;
 
}

h1{
  color:white;
  text-align: center;
}
tr{
  line-height: 30px;
}
td{
  padding: opx 5 px;
}
tr#titulo{
  font-weight: bold;
  background-color: rgba(0,0,0,.6);
  color: white;
}
tr#infos td{
  color: white;
}